@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


$card-color: black #211215;
$text-color: #FFF6E2;
$shadow: -15px 15px 30px -15px $text-color;


* {
    font-family: Raleway;
}

body {
    background-color: black;
    // width: 100%;
    // position: absolute;
    // z-index: 0;
}

#window {
    position: static;
    height: 25vh;
    width: 100%;
}

header {
    @extend #window;
    background-image: url('img/headerE.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    right: 0;
    // z-index: 0;
}

.filter {
    backdrop-filter: blur(2px);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

